*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0px;
    word-spacing: 0px;
}

body {
    color: #fff;
    background: linear-gradient( 180deg, rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 1) ), url("images/background.jpg") no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#header{
    width:100%;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-1 {
    width: 45%;
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
    padding-right: 150px;

}

.ad-1 {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 300px;
    transform: rotate(90deg);
    border: 3px solid rgba(233,177,255,1);
}

.title-header-2 {
    justify-content: center!important;
    padding-bottom: 100px!important;
}

.title-container {
    height: auto;
    width: 650px;
    padding-bottom: 100px;

}

.title {
    font-size: 3.5rem;
    background: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-image: linear-gradient(to right, rgba(233,177,255,1), rgba(118,146,255,1)) 1;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
}


.colored-text-title {
    background: rgb(233,177,255);
    background: linear-gradient(to right, rgba(233,177,255,1), rgba(118,146,255,1));
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title-description {
    font-size: 1.2rem;
    text-align: justify;
    width: 100%;
}

.color-1{
    color: rgb(233,177,255);
}

.color-2 {
    color: rgba(174,161,255,1);
}

.color-3 {
    color: rgb(118, 146, 255);
}

.python {
    color: #e9b1ff;
    display: inline-block;
    width: 160px;
}

.javascript {
    color: #ceaaff;
    display: inline-block;
    width: 160px;
}

.java {
    color: #aea1ff;
    display: inline-block;
    width: 160px;
}

.scala {
    color: #9199ff;
    display: inline-block;
    width: 160px;
}

.typescript {
    color: #7692ff;
    display: inline-block;
    width: 160px;
}

.html {
    color: #6997ff;
    display: inline-block;
    width: 160px;
}

.vhdl {
    color: #2076ff;
    display: inline-block;
    width: 160px;
}



.header-2 {
    width: 55%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}


.about-me-header {
    height: 100vh;
    background: rgb(10,10,10);
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid white;
    border-image: linear-gradient(to right, rgba(233,177,255,1), rgba(118,146,255,1)) 1;

}

.about-me-title {
    padding-top: 20px;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1)) 1
}

.subheader-container {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 0;
}

.about-me-image {
    width: 550px;

    border-radius: 30px;

    object-fit: cover;
}


.ai-image {
    position: relative;
    border: 3px solid rgba(118,146,255,1);
    height: 350px;
    transition: 0.3s;
}

.ai-image:hover {
    width: 570px;
    height: 370px;
    z-index: 3;
    transition: 0.3s;
}

.fantasy-image {
    position: absolute;
    top: 32%;
    right: 75px;
    height: 380px;
    z-index: 2;
    border: 3px solid rgba(156,157,143,1);
    transition: 0.3s;
}

.fantasy-image:hover {
    width: 570px;
    height: 400px;
    transition: 0.3s;
}

.landscape-image {
    position: absolute;
    top: 55%;
    right: 200px;
    border: 3px solid #e8fdf0;
    height: 350px;
    transition: 0.3s;
}

.landscape-image:hover {
    width: 570px;
    height: 370px;
    z-index: 3;
    transition: 0.3s;
}

.asoif {
    color: #16e5f5;
    display: inline-block;
    width: 250px;
}

.tsa {
    color: rgba(118,146,255,1);
    display: inline-block;
    width: 250px;
}

.mistborn {
    color: #b4b4b4;
    display: inline-block;
    width: 250px;
}

.about-me-background {
    background: rgb(25,25,25);
    background: linear-gradient(180deg, rgba(25,25,25,1) 0%, rgba(10,10,10,1) 100%);
}


.programming-header {
    height: 100vh;
    background: rgb(10,10,10);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
    padding-top: 50px;

}

.programming-title {
    border-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1)) 1;
    margin: 0;
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.programming-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programming-description {
    margin-top: 30px;
    width: 500px;
    font-size: 1.2rem;
    text-align: justify;
}

.programming-logos {
    height: 350px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-image {
    height: 220px;
    width: 220px;
    padding: 30px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.3s;
}

.logo-image:hover {
    background: rgb(40,40,40);
    transition: 0s;
}