*{
    margin: 0;
    padding: 0;
    Font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0px;
    word-spacing: 0px;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background: rgb(41, 41, 41);
    width: 15px;
    z-index: 3;
}

::-webkit-scrollbar-thumb {
    background: rgb(68, 68, 68);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
}

::-webkit-scrollbar-corner {
    background: rgba(31, 31, 31, 0);
}

body {
    color: #fff;
    background: rgb(5,5,5);
    background: radial-gradient(circle, rgba(5,5,5,1) 0%, rgba(15,15,15,1) 100%);
    background-size: 100%;
    background-attachment: fixed;
}

#header{
    width:100%;
    height:100vh;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    z-index: 3;

}

.nav-elements {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-element {
    width: auto;
    font-size: 1.1rem;
    color: rgb(225,225,225);
    text-decoration: none;
}

.nav-element:hover {
    color: rgb(255,255,255);
}

.header-1 {
    width: 45%;
    display: flex;
    align-items: space-between;
    justify-content: center;
    flex-direction: column;
    padding-right: 150px;

}

.axeld-1 {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 250px;
    box-shadow: 0 0 50px rgb(70, 70, 70);
}

.main-title {
    font-size: 2.7rem!important;
}

.title-header-2 {
    justify-content: center!important;
    padding-bottom: 100px!important;
}

.title-container {
    height: auto;
    width: 100%;
    padding-bottom: 100px;
}

.project-title-container {
    padding: 0;
}

.title {
    font-size: 3.5rem;
    background: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(255, 255, 255);

    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    width: 100%;
}

.title a {
    font-weight: 600!important;
}


.colored-text-title {
    display: inline-block;
    white-space: nowrap;
    animation: 
        typing 4s steps(20, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    7%, 97% { content: ""; }
    8%, 96% { content: "A"; }
    9%, 95% { content: "Ax"; }
    10%, 94% { content: "Axe"; }
    11%, 93% { content: "Axel"; }
    12%, 92% { content: "Axel D"; }
    13%, 91% { content: "Axel Do"; }
    14%, 90% { content: "Axel Dov"; }
    15%, 89% { content: "Axel Dovs"; }
    16%, 88% { content: "Axel Dovsk"; }
    17%, 87% { content: "Axel Dovsko"; }
    18%, 86% { content: "Axel Dovskog"; }

}


@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
.typewriter {
    --caret: currentcolor;
}
  
.typewriter::before {
    content: "";
    animation: typing 25s infinite;
}
  
.typewriter::after {
    content: "";
    border-right: 1ch solid var(--caret);;
    animation: blink 1s linear infinite;
}
  
  

.title-description {
    font-size: 1.2rem;
    text-align: justify;
    width: 100%;
}

.color-1{
    color: rgb(233,177,255);
}

.color-2 {
    color: rgba(174,161,255,1);
}

.color-3 {
    color: rgb(118, 146, 255);
}

.python {
    color: #e9b1ff;
    display: inline-block;
    width: 160px;
}

.javascript {
    color: #ceaaff;
    display: inline-block;
    width: 160px;
}

.java {
    color: #aea1ff;
    display: inline-block;
    width: 160px;
}

.scala {
    color: #9199ff;
    display: inline-block;
    width: 160px;
}

.typescript {
    color: #7692ff;
    display: inline-block;
    width: 160px;
}

.html {
    color: #6997ff;
    display: inline-block;
    width: 160px;
}

.vhdl {
    color: #2076ff;
    display: inline-block;
    width: 160px;
}



.header-2 {
    width: 55%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}


.about-me-header {
    min-height: 100vh;
    display:flex;
    justify-content: space-between;
    flex-direction: row;

}

.artists-header {
    min-height: 75vh;
    display:flex;
    align-items: center;
    padding-left: 0!important;
    padding-right: 0!important;
    flex-direction: column;
}

.artists-header-1 {
    width: auto!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.artist-header-2 {
    padding-bottom: 50px;
}

.artists-header-2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    margin-top: 50px;
    gap: 100px;
}

.artist-container {
    width: 300px;
    min-width: 300PX;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}


.scroller {
    width: 70%;
    max-width: 70%;
    height: auto;
    display: flex;
    overflow: hidden;

    -webkit-mask: 
        linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

}


.scroller-inner {
    width: max-content;
    display: flex;
    padding-block: 1rem;
    flex-wrap: nowrap;
    animation: scroll 50s linear infinite;
}


@keyframes scroll {
    to {
        transform: translate(calc(-50% - 50px));
    }
}


.artist-name-container {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    color: rgb(150,150,150);
    font-size: 1.1rem;
    text-align: center;
}

.artist-name {
    font-size: 1.5rem;
    color: white;
}

.artist-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 50px rgb(70,70,70);
    transition: 0.3s;
}

.artist-image:hover {
    border: 1px solid rgb(255,255,255);
    cursor: pointer;
    transition: 0s;
}

.no-cursor {
    cursor: default!important;
}

.about-me-title {
    padding-top: 20px;
}

.subheader-container {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 0;
}

.about-me-image {
    width: 550px;
    max-width: 30vw;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(70,70,70);
    object-fit: cover;
}


.ai-image {
    position: relative;
    border: 2px solid rgba(118,146,255,1);
    transition: 0.3s;
}

.ai-image:hover {
    width: 570px;
    max-width: 31vw;
    z-index: 3;
    transition: 0.3s;
}

.fantasy-image {
    position: absolute;
    top: 32%;
    right: 75px;
    z-index: 2;
    border: 2px solid rgba(156,157,143,1);
    transition: 0.3s;
}

.fantasy-image:hover {
    width: 570px;
    max-width: 31vw;
    transition: 0.3s;
}

.landscape-image {
    position: absolute;
    top: 55%;
    right: 200px;
    border: 2px solid #01be3d;
    transition: 0.3s;
}

.landscape-image:hover {
    width: 570px;
    max-width: 31vw;
    z-index: 3;
    transition: 0.3s;
}

.asoif {
    color: #16e5f5;
    display: inline-block;
    width: 250px;
}

.tsa {
    color: rgba(118,146,255,1);
    display: inline-block;
    width: 250px;
}

.mistborn {
    color: #b4b4b4;
    display: inline-block;
    width: 250px;
}

.about-me-background {
    background: rgb(20,20,20);
}


.programming-header {
    height: auto;
    background: rgb(15,15,15);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
    padding-top: 50px;

    padding-bottom: 125px;
    
}

.programming-title {

    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    width: 500px;
    max-width: 90vw;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.programming-title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.programming-description {
    margin-top: 30px;
    width: 500px;
    font-size: 1.2rem;
    text-align: justify;
}

.programming-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 700px;
    max-width: 50vw;
    flex-wrap: wrap;
}

.programming-section {
    width: 220px;
    max-width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 15px;
    position: relative;
}

.logo-description {
    width: 100%;
    transition: 0.3s;
    text-align: center;
    font-size: 1.1rem;
    padding: 10px;
    color: rgb(175,175,175);
    display: none;
    position: absolute;
    height: 95px;
    top: -95px;
    background: rgb(30, 30, 30);
    border-radius: 10px 10px 0 0;
    border-right: 1px solid rgb(255,255,255);
    border-left: 1px solid rgb(255,255,255);
    border-top: 1px solid rgb(255,255,255);
}

.framework-description {
    height: 125px;
    top: -125px;
}

.language-description-title {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Open Sans";
}

.logo-image {
    height: 220px;
    max-height: 15vw;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.3s;
    background: rgb(30,30,30);
}

.logo-image:hover {
    padding: 20px;

    border-right: 1px solid rgb(255,255,255);
    border-left: 1px solid rgb(255,255,255);
    border-bottom: 1px solid rgb(255,255,255);
    border-radius: 0 0 10px 10px;
    transition: 0s;
}

.python-title {
    color: white;
}

.javascript-title {
    color: white;
}

.java-title {
    color: white;
}

.scala-title {
    color: white;
}

.html-title {
    color: white;
}

.css-title {
    color: white;
}

.tensorflow-title {
    color: white;
}

.django-title {
    color: white;
}

.react-title {
    color: white;
}

.python-logo:hover + .hide-python {
    display: inline-block;
    transition: 0s;
}

.javascript-logo:hover + .hide-javascript {
    display: inline-block;
    transition: 0s;
}

.java-logo:hover + .hide-java {
    display: inline-block;
    transition: 0s;
}

.scala-logo:hover + .hide-scala {
    display: inline-block;
    transition: 0s;
}

.html-logo:hover + .hide-html {
    display: inline-block;
    transition: 0s;
}

.css-logo:hover + .hide-css {
    display: inline-block;
    transition: 0s;
}

.frameworks-description {
    text-align: center;
}

.tensorflow-logo:hover + .hide-tensorflow {
    display: inline-block;
    transition: 0s;
}

.django-logo:hover + .hide-django {
    display: inline-block;
    transition: 0s;
}

.react-logo:hover + .hide-react {
    display: inline-block;
    transition: 0s;
}

.framework-language {
    color: rgb(100,100,100);
}

.projects-header {
    height: auto;
    background: rgb(10,10,10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-top: 120px;
    position: relative;
    z-index: 3;
}


#education {
    margin-top: 0!important;
    min-height: 0!important;
    padding: 0!important;
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 100vh!important;
}

.education-1 {
    color: rgb(0,250,215);
}

.education-header-2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.education-header-1 {
    padding-top: 0!important;
    padding-right: 50px!important;
    padding-bottom: 25px!important;
}


.education-img {
    width: 850px;
    max-width: 95%;
    position: absolute;

    border-radius: 20px;
    object-fit: contain;
    transition: 0.3s;
    border: 1px solid #ffffff;
    transition: 0.3s;
    z-index: 1;
    box-shadow: 0 0 50px rgb(70,70,70);
}

.education-img:hover {
    transition: 0.3s;
    width: 875px;
    max-width: 97%;
    z-index: 2;
}

.projects-intro-header {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}


.programming-header-2 {
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.projects-image {
    width: 24%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 50px rgb(70,70,70);
}


.programming-1 {
    
    border: 2px solid #e9b1ff;
    margin-bottom: 10%;
}
.programming-2 {
    border: 2px solid #ceaaff;
    margin-bottom: 3%;
}
.programming-3 {
    border: 2px solid #aea1ff;
    margin-top: 3%;
}
.programming-4 {
    border: 2px solid #9199ff;
    margin-top: 10%;
}

.github-link {
    text-decoration: none;
}

.project-header {
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mr-header-1 {
    width: 50%;
    padding-left: 120px;
    padding-right: 50px;
}

.project-attributes {
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

.project-attribute {
    font-size: 1.2rem;
    margin-right: 25px;
}

.mediareviewr-title {
    background: rgb(119,0,255);
    background: linear-gradient(90deg, rgba(119,0,255,1) 0%, rgba(255,0,91,1) 100%);
    border-image: linear-gradient(90deg, rgba(119,0,255,1) 0%, rgba(255,0,91,1) 100%) 1;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mediareviewr-color-1 {
    color: rgb(119, 0, 255);
}

.mr-1 {
    color: #7700ff;
}
.mr-2 {
    color: #8d00e5;
}
.mr-3 {
    color: #9f00d0;
}
.mr-4 {
    color: #b900b1;
}
.mr-5 {
    color: #d20093;
}
.mr-6 {
    color: #ff005b;
}

.mr-header-2 {
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mr-image {
    box-shadow: 0 0 50px rgb(70,70,70);
    border-radius: 20px;
    object-fit: contain;
}

.mr-logo {
    width: 475px;
    max-width: 28vw;
    z-index: 1;
    border: 2px solid rgb(236, 241, 144);
    transition: 0.3s;
}

.mr-logo:hover {
    transition: 0.3s;
    width: 500px;
    max-width: 30vw;
}

.mr-img-1 {
    width: 575px;
    max-width: 30vw;
    position: absolute;
    top: 30%;
    right: 75px;
    transition: 0.3s;
    border: 2px solid #00d6e5;
    transition: 0.3s;
}

.mr-img-1:hover {
    transition: 0.3s;
    width: 600px;
    max-width: 32vw;
    z-index: 2;
}

.mr-img-2 {
    width: 600px;
    position: absolute;
    top: 55%;
    max-width: 30vw;
    right: 200px;
    border: 2px solid #b900b1;
    transition: 0.3s;
}

.fade-in-image { animation: fadeIn 3s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.mr-img-2:hover {
    transition: 0.3s;
    width: 625px;
    max-width: 32vw;
    z-index: 2;
}

.mk-header-1 {
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 200px;
}

.mk-header-2 {
    width: 50%;
    padding-left: 120px;
    padding-right: 50px;
}

.mk-img-1 {
    width: 700px;
    max-width: 35vw;
    border: 2px solid #017AA8;
    transition: 0.3s;
    object-fit: contain;
}

.mk-img-1:hover {
    transition: 0.3s;
    width: 725px;
    max-width: 37vw;
    z-index: 2;
}

.mk-img-2 {
    width: 500px;
    position: absolute;
    top: 550px;
    max-width: 35vw;
    right: 75px;
    border: 2px solid #1ae3f1;
    transition: 0.3s;
}

.mk-img-2:hover {
    transition: 0.3s;
    width: 525px;
    z-index: 2;
    max-width: 37vw;
}

.mk-logo {
    width: 850px;
    max-width: 40vw;
    position: absolute;
    top: 300px;
    left: 65px;

    transition: 0.3s;
    border: 2px solid #00d6e5;
    transition: 0.3s;
    z-index: 1;
    object-fit: contain;
}

.mk-logo:hover {
    transition: 0.3s;
    width: 875px;
    max-width: 43vw;
    z-index: 2;
}

.muskie-title {
    background: rgb(0,250,215);
    background: linear-gradient(90deg, rgba(0,250,215,1) 0%, rgba(1,137,249,1) 100%);
    border-image: linear-gradient(90deg, rgba(0,250,215,1) 0%, rgba(1,137,249,1) 100%) 1;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mk-1 {
    color: rgb(0,250,215);
}

.mk-2 {
    color: rgba(1,137,249,1)
}

.mk-3 {
    color: #01c2e8;
}

.contact-header {
    height: 200px;
    background: rgb(5,5,5);
    padding: 0 5%;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-icon {
    height: 75px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
}

@media all and (max-width: 1300px) {
    .main-title {
        font-size: 2.3rem!important;
    }
}

@media all and (max-width: 1220px) {

    .nav-elements {
        padding-right: 50px;
        width: 100%;
        padding-left: 50px;
    }

    .axeld-1 {
        width: 300px;
        height: 300px;
    }

    .title {
        font-size: 2.5rem;
    }



    .title-description, .programming-description {
        font-size: 1rem;
    }

    

    .header-1 {
        width: 75%;
        padding-left: 50px;
        padding-right: 0;
    }

    .top-header {
        padding-right: 50px;
    }

    .project-header {
        margin-top: 0;
    }

    .mk-header-1 {
        padding-right: 50px;
        padding-left: 0;
    }

    .education-header-1 {
        padding-right: 50px;
        padding-left: 0;
    }

    .projects-header-1 {
        padding-left: 0;
        padding-right: 50px;
    }

    .education-header-1 {
        padding-left: 0;
        padding-right: 50px;
    }

    .programming-4 {
        display: none;
        
    }

    .projects-image {
        width: 32%;
    }

    .logo-description {
        font-size: 1rem;
    }

    .language-description-title {
        font-size: 1.2rem;
    }

    .about-me-header-1 {
        width: 55%;
    }

    .about-me-header-2 {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-image {
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 87%;
        max-width: 87%;
        max-height: 33%;
        top: 0;
        right: 0;
        left: 0;
        border-radius: 10px;
    }

    .about-me-image:hover {
        width: 92%;
        max-width: 92%;
    }

    .mr-header-2 {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    .mr-logo {
        display: none;
    }

    .mr-image {
        position: relative;
        width: auto;
        max-width: 87%;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        max-height: 45%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .mr-image:hover {
        width: auto;
        max-height: 48%;
        max-width: 92%;
    }

    .mr-header-1 {
        width: 55%;
    }

    .mk-header-1 {
        padding-bottom: 100px;
        width: 55%;
    }

    .education-header-1 {
        padding-bottom: 100px;
        width: 55%;
    }

    .mk-header-2 {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
    }

    .education-header-2 {
        width: 50%;
    }

    .education-header-1 {
        width: 45%;
    }

    .logo-image {
        padding: 15px;
    }

}

@media all and (max-width: 905px) {

    .title-header-2 {
        padding-bottom: 0!important;
    }

    .title-container {
        padding-bottom: 50px;
        margin-top: 50px;
    }

    .scroller {
        width: 95%;
        max-width: 95%;
    }

    .asoif {
        width: 200px;
    }

    
    .tsa {
        width: 200px;
    }

    .mistborn {
        width: 200px;
    }

    #header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-description {
        font-size: 0.9rem;
    }

    .language-description-title {
        font-size: 1.1rem;
    }

    .programming-1 {
        display: none;
    }

    .projects-image {
        width: 48%;
    }

    
    .programming-logos {
        max-width: 75vw;
    }

    .programming-section {
        width: 30%;
        max-width: 30%;
        max-height: none;
        height: auto;
    }

    .logo-image {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
    }

}

@media all and (max-width: 700px) {

    #education {
        min-height: 0;
    }

    .mk-header-2 {
        height:auto!important;
        min-height: 500px;
        padding-top: 0!important;
        padding-bottom: 0!important;
    }

    .about-me-header {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .header-1 {
        width: 90%;
        padding: 0;
    }

    .projects-header-1 {
        padding: 0;
        padding-bottom: 20px;
    }

    .education-header-1 {
        padding: 0;
        padding-bottom: 20px;
    }

    .header-2 {
        flex-direction: row;
        width: 100%;
        padding: 0 20px;
        justify-content: space-between;
        height: 250px;
    }

    .about-me-image {
        width: 30%;
        max-width: 30%;
        object-fit: cover;
        height: 100%;
        min-height: 100%;
    }

    .about-me-image:hover {
        width: 33%;
        max-width: 33%;
    }

    .projects-intro-header {

        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
        min-height: 70vh;
        height: auto;
    }

    .projects-image {
        margin: 0;
        width: 47%;
        max-width: 47%;
        object-fit: cover;
        height: 100%;
        min-height: 100%;
    }

    .projects-image:hover {
        width: 50%;
        max-width: 50%;
    }

    .project-header {
        margin-top: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    
    }

    .mr-header-2 {
        padding-top: 50px;
        flex-direction: column;
        height: 600px;
        justify-content: center;
        align-content: space-between;
    }

    .mr-image {
        height: 47%;
        min-height: 0;
        max-height: 47%;
        width: auto;
        max-width: 95%;
    }

    .mr-image:hover {
        height: 50%;
        max-height: 50%;
        width: auto;
    }

    .mk-header {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .mk-header-2 {
        padding-top: 50px;
        flex-direction: column;
        height: 700px;
        justify-content: center;
        align-content: space-between;
    }

    .mk-img-1, .mk-img-2, .mk-logo {
        height: 30%;
        max-height: 30%;
        width: auto;
    }

    .mk-img-1:hover, .mk-img-2:hover, .mk-logo:hover {
        height: 33%;
        max-height: 33%;
        width: auto;
    }

    .programming-header {
        padding: 0;
        padding: 50px 0;
    }


    .programming-description {
        max-width: 90vw;
    }

    .title-header-2 {
        padding: 0!important;
    }

    .axeld-1 {
        max-height: 100%;
        width: auto;
    }

    .nav-elements {
        padding: 0 20px;
    }

    .navbar {
        height: 50px;
    }

    .nav-element {
        font-size: 1rem;
    }

    #projects {
        padding-top: 50px;
    }
}

@media all and (max-width: 620px) {
    .artist-name-container {
        font-size: 0.9rem!important;
    }

    .artist-name {
        font-size: 1.1rem!important;
    }
}

@media all and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .artist-container {
        height: 200px;
    }
}

@media all and (max-width: 450px) {
    .artist-name-container {
        font-size: 0.8rem!important;
    }

    .artist-name {
        font-size: 0.9rem!important;
    }


}

@media all and (max-width: 440px) {

    .artists-header, .about-me-header, .programming-header, .projects-header {
        min-height: 0;
    }
    
    .mr-header-2 {
        height: 500px;
    }
    .title-description {
        font-size: 0.9rem;
    }

    .asoif, .tsa, .mistborn {
        width: 175px;
    }

    .contact-icon {
        height: 50px;
        width: 50px;
    }

    .language-description {
        font-size: 0.9rem;
    }

    .language-description-title {
        font-size: 1rem;
    }

    .programming-logos {
        width: 95%;
        max-width: 95%;
    }

    .logo-image {
        padding: 10px;
    }

    .logo-image:hover {
        padding: 15px;
    }
}